body{
        background-color: #4caf4f75;
        font-family: Georgia, 'Times New Roman', Times, serif;
        color: #011214;
}
.boton{
        background-color: white;
        color: black;
        border: 2px solid #4CAF50; /* Green */
        height: 1cm;
        width: 5cm;
        border-radius: 1cm;
}
.boton:hover {
    background-color: #4CAF50; /* Green */
    color:white;
}
form{

        text-align: center;
        padding: 2cm;
        
}
.campo{
        border-radius: 2cm;
        border-color: #4CAF50;
}
.titulo{
        color: #4CAF50;
        font-size: 1cm;
        padding: auto;
        margin: 0.5cm;
}